@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-accent: #e56942;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-white antialiased;
  }

  ::selection {
    @apply bg-accent-500/30;
  }
}

section[id]:not(#home) {
  content-visibility: auto;
  contain-intrinsic-size: 600px;
}
